.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
build/
install/
log/
.pytest_cache/
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
pic/
ros2_agv_robot/lib/*.run
ros2_rm_robot/**/lib/*.so*
ros2_rm_robot/**/lib/*.bz2
ros2_total_demo/weight/

